
<div class="row stronaPomocy">
	<div class="col-md-3 "></div>
	<div class="col-md-6">
		<h1>Pomoc programu PrzyLeK</h1>
		<div class="question">
      <h4>Słyszałem, że program Przylek jest najfajniejszym tego rodzaju programem. Czy to prawda?</h4>
      <div class="answer">
        <p>Tak to prawda! Badania wykazały, że jest to najlepszy program tego rodzaju.  </p>
      </div>
      <h4>Co powinienem zrobić w przypadku problemów z oprogramowaniem ?</h4>
      <div class="answer">
        <p> Prosze zadzwonić pod numer tel. 123-131-221-312-332. Tam uzyskają Państwo pomoc. </p>
        </div>
      <h4>Czy warto używać tego programu, w celu rozwoju cyfryzacji w naszym szpitalu ?</h4>
      <div class="answer">
        <p>Program PrzyLek jest idealnym do tego oprogramowaniem !!!</p>
      </div>
	</div>
	</div>
	<div class="col-md-3 "></div>
</div>
