

<div class="row bg">
	<div class="col-md-6 header-logo">
		<%= link_to image_tag("logo.jpg",:size => "200X100"),root_path %>
		
	</div>
  	<tb class="col-md-3 header-buttons">
  		<th id="obn"><% if admin_signed_in? %>
        	<%= link_to image_tag("Wyloguj.jpg",:size => "100X100"), destroy_admin_session_path, method: :delete%>	
        	<% end %>
  			</th>
        <th>
        	<%= link_to image_tag("Pomoc.jpg",:size => "100X100"),help_path %>
        </th>
  	</tb>
	 <tb class="col-md-3 header-buttons">
  		<th id="obn">
  			<% if admin_signed_in? %>
 				<b class="pomoc">Wyloguj</b>
 		    <% end %>
  		</th>
        <th><b id="pomocy">Pomoc</b></th>
  	</tb>
	
</div>
